td.left#state
    #mini-play-button.player-button.size-20(title="play from here")
        i.icon-play
td.field.title #{model.title}
    //-span.info #{model.title}
td.field.artist #{model.artist}
td.field.album #{model.album}
td.field.num #{model.track}
td.right
    #delete-button.player-button.size-20.signal-button(title="remove")
        i.icon-remove
    #delete-from-here-button.player-button.size-20.signal-button(title="clear from here")
        i.icon-arrow-down