td#state
    .button.addto
    .button.puttoplay
td.field.title #{model.title}
    //-span.info #{model.title}
td.field #{model.artist}
td.field #{model.album}
td.field.num #{model.track}
td
    .button.delete